[submodule "gs-ui-components"]
	path = gs-ui-components
	url = https://github.com/gridsound/gs-ui-components.git
	branch = main
[submodule "assets"]
	path = assets
	url = https://github.com/gridsound/assets.git
[submodule "gs-utils"]
	path = gs-utils
	url = https://github.com/gridsound/gs-utils.git
